{% extends "base.html" %}

{% block title %}403 - Access Forbidden{% endblock title %}

{% block content %}
<main>
    <div class="container-xl px-4">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mt-4">
                    <h1 class="display-1">403</h1>
                    <p class="fs-3">
                        <span class="text-danger">Oops!</span> Access forbidden.
                    </p>
                    <p class="lead">
                        You don't have permission to access this resource.
                    </p>
                    <a href="{% url 'index' %}" class="btn btn-primary">
                        <i data-feather="arrow-left"></i>
                        Return Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}